body{
    margin: 0;
    background-image: radial-gradient(circle, #40ff00, #00fb8c, #00f0d2, #00e0f7, #00cdf9); 
}
h1{
    font-size: 35px;
    text-align: center;
    margin-top: 40px;
    color: white;
    text-shadow: 2px 2px #3204bb;
    font-family: 'Italiana', serif;
}
.img{
    width: 18%;
    height: 60vh;
    background-color: aqua;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img:nth-child(2) {
    background-image: url(rew.png);
    z-index: 8;
    top: 16%;
    left: 15%;
    animation-name: anim1;
    animation-duration: 7s;
    animation-iteration-count:infinite;
    animation-delay: 5;
}
.img:nth-child(3) {
    background-image: url(rifiiiif.jpg);
    z-index: 9;
    top: 23%;
    left: 28%;
    animation-name: anim2;
    animation-duration: 7s;
    animation-iteration-count:infinite;
    animation-delay: 5;
}
.img:nth-child(4) {
    background-image: url(yeuu.jpg);
    transform: translateX(-50%);
    z-index: 10;
    top: 30%;
    left: 50%;
    animation-name: anim3;
    animation-duration: 7s;
    animation-iteration-count:infinite;
    animation-delay: 5;
}
.img:nth-child(5) {
    background-image: url(dsaaa.jpg);
    z-index: 9;
    top: 23%;
    left: 54%;
    animation-name: anim4;
    animation-duration: 7s;
    animation-iteration-count:infinite;
    animation-delay: 5;
}
.img:nth-child(6) {
    background-image: url(21111s.jpg);
    top: 16%;
    left: 67%;
    z-index: 8;
    animation-name: anim5;
    animation-duration: 7s;
    animation-iteration-count:infinite;
    animation-delay: 5;
}
@keyframes anim4{
    /* начальный момент времени */
    0%{
    }
    20%{
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
    }
    40%{
      transform: scale(0.8, 1.2) translate(-60%, -40%);
      top: 50%;
      left: 50%;
    }
    50%{
      transform: scale(1) translate(-50%,-50%);
      top: 50%;
      left: 50%;
    }
    80%{
      transform: scale(1) translate(-50%,-50%);
      top: 50%;
      left: 50%;
    }
    /* конечный момент времени */
  
  }
  @keyframes anim5 {
    /* начальный момент времени */
    0%{
    }
    20%{
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
    }
    40%{
      transform: scale(0.8, 1.2) translate(-60%, -40%);
      top: 50%;
      left: 50%;
    }
    50%{
      transform: scale(1) translate(-50%,-50%);
      top: 50%;
      left: 50%;
    }
    90%{
      transform: scale(1) translate(-50%,-50%);
      top: 50%;
      left: 50%;
    }
    /* конечный момент времени */
  
  }
  @keyframes anim1 {
  
    0%{
    }
    20%{
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
    }
    40%{
      transform: scale(0.8, 1.2) translate(-60%, -40%);
      top: 50%;
      left: 50%;
    }
    50%{
      transform: scale(1) translate(-50%,-50%);
      top: 50%;
      left: 50%;
    }
  
  }
  @keyframes anim2 {
  
    0%{
    }
    20%{
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
    }
    40%{
      transform: scale(0.8, 1.2) translate(-60%, -40%);
      top: 50%;
      left: 50%;
    }
    50%{
      transform: scale(1) translate(-50%,-50%);
      top: 50%;
      left: 50%;
    }
    60%{
      transform: scale(1) translate(-50%,-50%);
      top: 50%;
      left: 50%;
    }
  
  
  }
  @keyframes anim3 {
  
    0%{
    }
    20%{
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
    }
    40%{
      transform: scale(0.8, 1.2) translate(-60%, -40%);
      top: 50%;
      left: 50%;
    }
    50%{
      transform: scale(1) translate(-50%,-50%);
      top: 50%;
      left: 50%;
    }
    70%{
      transform: scale(1) translate(-50%,-50%);
      top: 50%;
      left: 50%;
    }
  }
  img{
     width: 120px;
     position: absolute;
     bottom: 5%;
     left: 5%;
     animation-name: rocket;
     animation-duration: 3s;
     animation-iteration-count: 2
  }
  @keyframes rocket {
    25%{
        left: 70%;
        bottom: 120%;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 0;
        left: -1%;
        bottom: -1%;
    }
  }